.habilidades__container {
    display: flex;
    /* flex-direction: row  ; */
    justify-content: space-around;
    height: 80%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0,0,0,0.1) 0px 20px 25px -20px, rgba(0,0,0,0.05) 0px 10px 10px -5px;
    transition: 0.4s ease-in-out;
}

/* .habilidades__container:hover {
    box-shadow: rgba(0,0,0,0.5) 0px 22px 70px 4px;
} */

.habilidades__content{
    display: flex;
align-items: center;
justify-content: center;
gap: 4rem;
}


.habilidad__container {
    
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.icon__technology img{
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

.icon__technology__square img{
    height: 3rem;
    width: 3rem;

}

.icon__technology__rect img { 
    height: 3rem;
    /* width: 3rem; */
    border-radius: 3rem;
}

.habilidad__detail {
    margin-left: 1rem;
}

h1{
    font-weight: 500;
}
h3{
    font-weight: 300;
}