.footer__container{
    background-color: var(--palette4);
    padding-top: 2rem;
    padding-bottom: 1rem;
    min-width: 1200px;
}

.footer__content {
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.footer__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer__box h3 {
    color: var(--palette1);
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    padding: .5rem 0;
}

.footer__box a {
    display: block;
    color: var(--palette1);
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    margin-bottom: .5rem;
}

.footer__credit {
    max-width: 60%;
    margin: auto;
    padding: 1rem ;
    text-align: center;
    margin-top: .5rem;
    /* padding-top: 1.5rem; */
    border-top: .1rem solid var(--palette2);
    color: var(--palette1);
}

.footer__credit span{
    color: var(--palette1);    
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}